.grid {
  display: grid;
  grid-template-areas: "head head"
    "civs extranotes"
    "dark dark"
    "feud feud"
    "cast cast"
    "imp imp"
    "foot foot";
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 400px 400px;
  justify-content: center;
}

.header {
  grid-area: head;
}

.darkage {
  grid-area: dark;
}

.feudalage {
  grid-area: feud;
}

.castleage {
  grid-area: cast;
}

.imperialage {
  grid-area: imp;
}

.extranotes {
  grid-area: extranotes;
}

.foot {
  grid-area: head;
}
